.list-activities {
  margin: 40px 0;
}
.list-activities li {
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.list-activities li:before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  width: 16px;
  height: 6px;
  border-radius: 4px;
  transform: translateX(4px);

}

.list-activities li.tonifica:before {
  background-color: #4CB050;
}

.list-activities li.acqua:before {
  background-color: #81D5FB;
}

.list-activities li:last-child {
  margin-bottom: 0;
}

.list-activities__time-hour {
  display: flex;
  justify-content: space-between;
}

.list-activities__time-hour-h {
  display: flex;
  padding-right: 15px;
  opacity: .6;
  align-items: center;
}

.list-activities__time-hour-h img {
  height: 15px;
  margin-right: 5px;
}

.list-activities__time-hour-t span {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 700;
}

.list-activities__time-hour-t span:last-child {
  opacity: .6;
}

.list-activities li h2 {
  position: relative;
  font-size: 16px;
  margin: 10px 0 20px;
  width: 50%;
}

.list-activities li h2 img {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.list-activities__size-btn {
  display: flex;
  justify-content: space-between;
}

.list-activities__size-btn p {
  font-size: 12px;
  opacity: .6;
}

.list-activities__size-btn-btn .btn {
  padding-left: 0;
  padding-right: 0;
  min-width: 150px;
}

.arrow-desktop {
  display: none;
}

.filters__title {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.filters__title img {
  margin: 0 10px 0 0;
  height: 20px;
}

.filters {
  position: sticky;
  top: 50px;
  background: #d3df5d;
  padding: 15px 0;
  z-index: 10;
}

.filters .filters__wrap--container {
  position: relative;
  margin: 25px auto;
  width: 80%;
  max-width: 300px;
}

.filters .filters__wrap--container img {
  position: absolute;
  height: auto;
  width: 15px;
  left: 0;
}

.filters .filters__wrap--container img.icon-club {
  top: 3px;
}
.filters .filters__wrap--container img.icon-category {
  top: 55px;
}
.filters .filters__wrap--container img.icon-activity {
  top: 105px;
}

.filters__wrap {
  position: absolute;
  top: 100%;
  width: 100%;
  background: #d3df5d;
  transform: translateX(-100%);
  transition: all .45s ease;
}

.open-filters .filters__wrap {
  transform: translateX(0);
}

.filters__wrap select {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #023066;
  line-height: 30px;
  height: 30px;
  padding: 0 25px;
  margin: 20px 0;
}

@media(min-width: 768px) {
  .list-activities li {
    display: flex;
    padding: 0;
    align-items: center;
    height: 80px;
  }
  .list-activities li:before {
    border-radius: 0;
    right: 0;
    left: -4px;
    width: 6px;
    height: 100%;
    top: 0;
    z-index: 1;
  }

  .list-activities li:after {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 2;
    border: 2px solid #D3DF5D;
    opacity: 0;
    pointer-events: none;
  }

  .list-activities li:hover:after {
    opacity: 1;
  }

  .list-activities__image {
    overflow: hidden;
    transform: skew(10deg) translateX(-20px);
    order: 0;
    flex: 0 0 20%;
  }
  .list-activities__image img {
    transform: skew(-10deg) scale(1.1);
  }
  .list-activities li h2 {
    order: 1;
    margin: 0;
    flex: 0 0 18%;
    text-transform: uppercase;
    font-size: 14px;
  }
  .list-activities li h2 img {
    display: none;
  }
  .list-activities__time-hour {
    order: 2;
    flex: 0 0 22%;
    align-items: center;
    font-size: 12px;
  }
  .list-activities__time-hour-h {
    order: 0;
    padding: 0;
  }
  .list-activities__time-hour-t {
    order: 1;
  }
  .list-activities__time-hour-t span {
    font-size: 12px;
  }
  .list-activities__size-btn {
    order: 3;
    align-items: center;
  }
  .wrap-sizes {
    font-size: 14px;
    margin: 0 10px;
  }
  .arrow-desktop {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  .filters__title {
    display: none;
  }
  .filters__wrap {
    transform: translateX(0);
  }
  .filters {
    padding: 0;
  }
  .filters .filters__wrap--container {
    max-width: 100%;
  }
  .filters__wrap--container {
    display: flex;
    justify-content: center;
  }
  .filters__wrap select {
    padding: 0 0px 0 25px;
    margin: 0px 10px;
    width: 180px;
  }
  .filters .filters__wrap--container img {
    left: 50%;
    transform: translateX(-50%);
    top: 5px!important;
    height: 18px;
    width: auto;
  }
  .filters .filters__wrap--container img.icon-club {
    margin-left: -270px;
  }
  .filters .filters__wrap--container img.icon-category {
    margin-left: -80px;
  }
  .filters .filters__wrap--container img.icon-activity {
    margin-left: 120px;
  }
  .list-activities {
    margin: 110px 0 40px;
  }
}

@media(min-width: 992px) {
  .list-activities__image,
  .list-activities li h2 {
    flex: 0 0 22.5%;
  }
  .list-activities__time-hour {
    flex: 0 0 18%;
  }
  .list-activities__size-btn {
    flex: 0 0 30%;
  }
  .wrap-sizes {
    margin: 0 20px;
  }
}

@media(max-width: 767px) {
  .list-activities__image {
    display: none;
  }
}

